body {
  width: 100vw;
  background: url(img/imgBackground.png) no-repeat center center;
  margin: auto;
  background-attachment: fixed;
  background-size: cover;
  header {
    border-radius: 30px;
    margin: auto;
    width: 85vw;
    background: linear-gradient(to top, #0000008c, 85%, rgba(0, 225, 255, 0.4));
    color: white;
    padding: 20px;
    h1 {
      text-align: center;
    }
  }
  main {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    article {
      height: 700px;
      width: 375px;

      section {
        position: relative;
        transition: color 0.5s, scale 0.5s, background-color 0.5s;
        backdrop-filter: blur(0);
        #mycheckbox {
          display: none;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
          transition: color 0.5s, scale 0.4s, background-color 1s;
          // color: black;
          scale: 1.05;
          backdrop-filter: blur(10px);
          border: #ffffff 6px solid;

          & > #mycheckbox:checked {
            display: block;
          }

          .suppr {
            display: block;
            &:hover {
              scale: 0.9;
              border: solid 3px white;
            }
          }
        }
        height: 90%;
        width: 90%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 30px;
        color: white;
        margin: 30px auto;
        padding: 10px;
        // overflow: hidden;
        //pas finis ici
        label {
          .suppr {
            cursor: pointer;
            border: solid 3px red;
            background: url(img/x-square-fill.svg) no-repeat center center;
            background-size: 115%;
            margin: 5px;
            display: none;
            top: -5px;
            right: -5px;
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 0 20px 0 0;
          }
        }

        img {
          width: 320px;
          height: 250px;
          object-fit: contain;
        }
        span {
          padding: 4px;
          &:first-child {
            font-size: 2rem;
            text-align: center;
          }
          &:nth-of-type(2) {
            background: #04d457;
            color: black;
            border-radius: 7px;
            text-align: center;
          }
          &:last-of-type {
            border: 10px solid;
            border-image-slice: 1;
            border-width: 5px;
            border-image-source: linear-gradient(
              to right,
              #ffffff00,
              15%,
              #ffffff,
              85%,
              #ffffff00
            );
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  body {
    main {
      justify-content: space-around;
    }
  }
}

@media screen and (min-width: 1440px) {
  body {
    width: 1440px;
    header {
      width: auto;
    }

    main {
      justify-content: space-around;
    }
  }
}
